* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background-color: #1c1c1c;
}

.jumbotron {
  width: 100%;
  background-image: url("../../img/jumbotron.jpg");
  height: 500px;
}

.thumb-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumb {
  flex-basis: 16.6666666667%;
  padding: 1em;
  color: white;
  font-size: 0.5em;
}

.header-container {
  width: 70%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-container img {
  height: 90%;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav li {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
.nav li a {
  color: black;
  text-decoration: none;
}