* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background-color: #1c1c1c;
}

.jumbotron {
  width: 100%;
  background-image: url("../../img/jumbotron.jpg");
  background-size: cover;
  height: 350px;
  position: relative;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .item {
  display: flex;
  flex-basis: 16.6666666667%;
  flex-direction: column;
  padding: 1em;
  height: 250px;
}
.container .item .thumb {
  height: 180px;
  overflow: hidden;
}
.container .item .thumb img {
  height: 250px;
}
.container .item h2 {
  color: white;
  font-size: 0.8em;
  padding-top: 0.8em;
}

.load {
  background-color: #0282f9;
  color: white;
  border: 0;
  padding: 5px 15px;
  text-align: center;
}

.current {
  background-color: #0282f9;
  color: white;
  border: 0;
  padding: 15px;
  position: absolute;
  bottom: -20px;
  left: 200px;
}

.header-container {
  width: 70%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-container img {
  height: 90%;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav li {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
.nav li a {
  color: black;
  text-decoration: none;
}